[submodule "MVP-POC/contracts/lib/openzeppelin-contracts"]
	path = MVP-POC/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "MVP-POC/contracts/lib/forge-std"]
	path = MVP-POC/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
